Claude-Analyzer_ Gmail.json
{
  "name": "Claude-Analyzer: Gmail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        0
      ],
      "id": "af4f7bb3-a6ae-4a5e-9c50-3ac17620e698",
      "name": "Gmail Newsletter Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "lshg5dzlyN3TzU34",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=Analysiere diesen Newsletter auf Hinweise bezüglich Aktienkursbewegungen, Trading-Gelegenheiten oder marktrelevante Informationen.\n\n**Deine Aufgabe:**\n1. Prüfe, ob der Newsletter konkrete Aktien, ETFs, Kryptowährungen oder Märkte erwähnt\n2. Identifiziere bullische oder bärische Signale\n3. Bewerte die Glaubwürdigkeit und Relevanz der Information\n4. Gib nur dann eine Antwort, wenn du konkrete, handelbare Insights findest\n5. Formuliere klare, präzise Handlungsempfehlungen\n\n**Format deiner Antwort (nur bei relevanten Findings):**\n📊 **NEWSLETTER ANALYSE**\n\n**Sender:** {{ $json.from }}\n**Betreff:** {{ $json.subject }}\n\n**🎯 Identifizierte Assets:**\n- [Liste der erwähnten Aktien/ETFs/Crypto]\n\n**📈 Markt-Signale:**\n- [Bullische/Bärische Indikatoren]\n\n**💡 Handlungsempfehlung:**\n- [Konkrete Trading-Empfehlungen mit Timeframe]\n\n**⚠️ Risiko-Einschätzung:**\n- [Bewertung der Zuverlässigkeit und Risiken]\n\n---\n\n**Newsletter-Content:**\n{{ $json.text }}\n\n**WICHTIG:** Antworte NUR, wenn der Newsletter konkrete, handelbare Marktinformationen enthält. Bei allgemeinen News oder irrelevanten Inhalten: Keine Ausgabe!"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        304,
        0
      ],
      "id": "baf91ed6-d6ce-4896-b31b-6bf46f76d1b9",
      "name": "GPT-5 Newsletter Analyzer",
      "credentials": {
        "openAiApi": {
          "id": "lECHUsUdRrYTLJSz",
          "name": "OpenAI: n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "relevance-check",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "not-empty-check",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "min-length-check",
              "leftValue": "={{ $json.message.content.length }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "2c6bba1d-f205-481d-bbfc-fb2489790508",
      "name": "Filter Trading Relevance"
    },
    {
      "parameters": {
        "chatId": "1157563542",
        "text": "=📧 **NEWSLETTER TRADING ALERT**\n\n{{ $json.message.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        0
      ],
      "id": "a84ea031-e368-49a8-ac2b-470af6d53981",
      "name": "Notify Vincent",
      "webhookId": "newsletter-alert-webhook",
      "credentials": {
        "telegramApi": {
          "id": "s7tlmrEu6vB9tGrH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "newsletter-data",
              "name": "newsletterData",
              "value": "={{ {\n  'sender': $json.from,\n  'subject': $json.subject,\n  'date': $json.date,\n  'content_preview': $json.text.substring(0, 500) + '...',\n  'labels': $json.labelIds,\n  'message_id': $json.id\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ],
      "id": "0e6aec7e-15b1-4217-886a-25ab3dbf9724",
      "name": "Extract Newsletter Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Newsletter Trigger": {
      "main": [
        [
          {
            "node": "Extract Newsletter Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Newsletter Data": {
      "main": [
        [
          {
            "node": "GPT-5 Newsletter Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5 Newsletter Analyzer": {
      "main": [
        [
          {
            "node": "Filter Trading Relevance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Trading Relevance": {
      "main": [
        [
          {
            "node": "Notify Vincent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63eef317-a179-41cf-9b0d-26bd4fed6a0e",
  "meta": {
    "instanceId": "9852de35e1239bb5b98c5740ce8e8718865ec2b8b54e83cb5c84071d98c01200"
  },
  "id": "kgj2ESw6JR1dm6Ff",
  "tags": [
    {
      "createdAt": "2025-08-30T14:14:14.948Z",
      "updatedAt": "2025-08-30T14:14:14.948Z",
      "id": "igc6zJAsaXLGpcFS",
      "name": "trading"
    },
    {
      "createdAt": "2025-08-31T10:55:19.883Z",
      "updatedAt": "2025-08-31T10:55:19.883Z",
      "id": "Q2DDttn6NUT2Je8S",
      "name": "newsletter"
    },
    {
      "createdAt": "2025-08-31T10:55:19.883Z",
      "updatedAt": "2025-08-31T10:55:19.883Z",
      "id": "knG1mRZ2pGvR5zdo",
      "name": "gmail"
    },
    {
      "createdAt": "2025-05-02T10:44:46.218Z",
      "updatedAt": "2025-05-02T10:44:46.218Z",
      "id": "EV23fsrQOkvOlSZW",
      "name": "agent"
    }
  ]
}